<div class="ui segment about-page">
      <div class="ui medium left floated image" id="about-photo">
        <%= image_tag("profil-about.jpg") %>
      </div>
      <div class="content">
        <a class="header">About me</a>
        <div class="meta">
          <p>Hello, I'm Amandine and I'm a programmer.</p>
          <p>After studying programming for 1 year through online bootcamps, I'm now looking for a job!</p>
          <p>Before that, I worked as a journalist, a translator and a french teacher for foreign people.</p>
          <p>It's a big change of career but after all, computer programming is just another foreign language!
            Except that you communicate with a much dummier and stubborn individual (that is, your computer).</p>
          <p></p>
          <p>I began my career in France, spent 3 years in Japan (<a href="www.unefourmiatokyo.com">checkout my blog!</a>), and I'm now living in Montreal where I'd like to settle.</p>
          <p>Some months after working as a french teacher in Canada, I felt that I wasn't learning and growing anymore.
            It was my 4th year as a teacher when I realized I wanted something new and more challenging.</p>
          <p>I learnt some very basic code when I was in highschool. My dad, a software engineer, taught me some basic tricks,
          and I remember having fun implementing a couple of games on the commandline. That was my first experience of coding.
          So, when my partner suggested me at the end of 2016 to learn programming and try to find a job in that field,
          I felt like I was going back at my highschool days !</p>
          <p>Then, I began investing more and more time on online bootcamps, and implementing a lot of projects (practice makes perfect).
          I endend quitting my job as a teacher to be able to study even more. And, at last, at the beginning of this year,
          I began looking for a first professional experience as a web developer.</p>

        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>


</div>
