<main class=" page-container about-container">
  <div class="ui segment about-page">
    <div class="ui medium left floated image" id="about-photo">
      <%= image_tag("profil-about.jpg") %>
    </div>
    <div class="content">
      <div class="first-subtitle-container flex">
        <h2 class="header subtitle crimson-font">What I'm doing now</h2>
      </div>
        <div class="meta">
          <p>Hello, I'm Amandine and I'm a programmer.</p>
          <p>My favorite frameworks are React.js and Ruby on Rails, and I mainly use Javascript and Ruby as server side programming languages.</p>
          <p>Before programming, I worked as a journalist, a translator/interpreter and a french teacher for foreign people.</p>
          <p>Becoming a web developer is a big change of career but after all, computer programming is just another foreign language!
            Except that you communicate with a much dummier and stubborn individual (that is, your computer).</p>
          <h2 class="header subtitle crimson-font second-subtitle">Why becoming a programmer?</h2>
          <p>I began my career in France, spent 3 years in Japan (<a href="www.unefourmiatokyo.com">checkout my blog!</a>), then 2 years in Montreal, and I'm now back to Kyoto.</p>
          <p>Some months after working as a french teacher in Canada, I felt that I wasn't learning and growing anymore.
            It was my 4th year as a teacher when I realized I wanted something new and more challenging.</p>
          <p>Then, my partner and some friends suggested me to learn programming, and so I did. They were totally right when they said it's a very challenging and rewarding job!</p>
          <h2 class="header subtitle crimson-font">When I'm not studying</h2>
          <p>My favorite hobby is probably dancing. I'm also fond of photography and hiking.</p>
          <p>To relax at home, I read a lot and play video games.<br />
             I also spend time learning and practicing foreign languages, especially japanese.</p>
          <p>Finally, one of my great pleasures is drinking tea in some 'Salon de thé' and try out some exotic restaurant!</p>
          <p>Feel free to say hi if you have some common interests.</p>
          <p>Thank you for reading! </p>
        </div>
      </div>
  </div>
</main>
