<div class="ui segment">
  <div class="ui items">
    <div class="item">
      <div class="image" id="about-photo">
        <%= image_tag("profil-about.jpg") %>
      </div>
      <div class="content">
        <a class="header">About me</a>
        <div class="meta">

          <p>After studying programming for 1 year through online bootcamps, I'm now looking for a job.</p>
          <p>It's a big change of career but after all, computer programming is just another foreign language !</p>
          <p>You can even check my blog about Japan, where I lived for 3 years.</p>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>

  </div>

</div>
