<main>
  <div class="home-header">
    <section class="salutation">
      <p class="hi">Hi !</p>
    </section>
    <section class="profile">
      <div class="profile-photo">
         <%= image_tag("profil.jpg", class: "ui segment medium circular image") %>
      </div>
      <h5 class="header-name">Amandine Latour</h5>
      <ul class="header-links">
        <li><a href="https://github.com/"><i class="big-icon" id="github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/amandine-latour-9750b512a/"><i class="big-icon" id="linkedin"></i></a></li>
        <li><a href="https://unefourmiatokyo.com/"><i class="big-icon" id="wordpress"></i></a></li>
      </ul>
    </section>
    <section class="short-presentation">
      <p class="presentation-text">
        I'm quite new in the developers word
        (before, I've been working as a journalist and french teacher).
        I've been studying programming for 1 year now,
        especially Ruby on Rails and Javascript,
        and I'm nearly over the online bootcamp I've been studying with so far
        ('The Odin Project' -> https://www.theodinproject.com/).
        I'm also in love with the 'codeschool' programming lessons
        (https://www.codeschool.com/). Now, since the beginning of this year,
        I'm looking for a job as a web developper.
        Here is my Github account :visage_légèrement_souriant: -> https://github.com/coconatsuki
      </p>
    </section>
  </div>
</main>
<section>

</section>
