<main class="page-container">
  <div class="home-header ui stackable three column grid">
    <div class="row">
      <section class="salutation column flex flex-column justify-around">
        <div class="ui tall stacked segment salutationcol">
          <p class="introduction text-center intro-title">Hi, I'm Amandine.</p>
          <p class="introduction">I'm a <strong>Full Stack Developer</strong>, and I like to build <strong>efficient and enjoyable apps/websites</strong>, with a modern and elegant design.</p>
          <p class="introduction">If you have a new project in mind, or an existing website that needs a fresher design or new features, I'd be glad to help!</p>
          <p class="introduction">I'm now <strong>open to Freelance missions or remote positions.</strong> <br />If interested, please contact me. I always answer quickly to all requests.</p>
        </div>
      </section>
      <section class="profile column flex flex-column justify-around align-center">
        <div class="profile-photo">
           <%= image_tag("profil.jpg", class: "ui segment medium circular image") %>
        </div>
        <div class="photo-caption flex flex-column">
          <h1 class="header-name title">Amandine Pasin</h1>
          <ul class="header-links flex justify-around">
            <li><a href="https://github.com/"><i class="big-icon" id="github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/amandine-pasin-9750b512a/"><i class="big-icon" id="linkedin"></i></a></li>
            <li><a href="https://unefourmiatokyo.com/"><i class="big-icon" id="wordpress"></i></a></li>
          </ul>
        </div>
      </section>
      <section class="short-presentation column flex flex-column justify-around">
        <div class="presentation-text ui tall stacked segment">
          <p class="introduction intro-title text-center">Why choosing me?</p>
          <p class="introduction"><strong>I'm used to work on all aspects of a project</strong>, from HTML/CSS integration to Back-End programming, including the CI/CD process and deployment.</p>
          <p class="introduction">Also, <strong>I'm really professional, patient and always attentive to my clients requirements</strong>. I like my job and I like doing it well. If you're satisfied, I am too!</p>
          <p  class="introduction">To get a better idea of what I can do, please have a look at my Portfolio.</p>
          <p class="introduction text-center">Thank you</p>
        </div>
      </section>
    </div>
  </div>
  <div class="ui one column grid news-column">
    <div class="row flex justify-around"  id="news-row">
      <section class="ui piled segment news-container">
        <h3 class="news text-center">News</h3>

        <div class="ui celled list">
          <div class="item news-items">
              <div class="content news-content">
              <div class="header">09 april 2018</div>
                The website is now responsive, and I updated the Portfolio with my most recent projects.
            </div>
          </div>
          <div class="item news-items">
              <div class="content news-content">
              <div class="header">26 february 2018</div>
                I'm working on making this website responsive.
            </div>
          </div>
          <div class="item news-items">
              <div class="content news-content">
              <div class="header">16 january 2018</div>
              I attended the last Montreal.rb meetup. It was my first time there !
            </div>
          </div>
          <div class="item news-items">
            <div class="content news-content">
              <div class="header">05 january 2018</div>
              I just began looking for a job ~~ ! Wish me good luck.
            </div>
          </div>
          <div class="item news-items">
              <div class="content news-content">
              <div class="header">December 2017</div>
              I finished my reproduction of the New York Times page in HTML/CSS.
            </div>
          </div>
        </div>

      </section>
    </div>
</div>
</main>
