<main class="resume-page  page-container">
  <header class="resume-header">
    <h2 class="resume-title title text-center">Full Stack Web Developper</h2>
  </header>
  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Skills</span>
    <i class="small travel icon"></i>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    IT skills
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui three stackable cards resume">
      <div class="card">
        <div class="content">
          <div class="header">Languages</div>
          <div class="description">
            Ruby, Javascript (ES6), SQL
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Frameworks</div>
          <div class="description">
            Ruby on Rails, Node.js, React.js
          </div>
        </div>
      </div>
            <div class="card">
        <div class="content">
          <div class="header">Web techs</div>
          <div class="description">
            HTML5/CSS3/Javascript, jQuery, Sass, Apollo, Rest API, graphQL, Prisma
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">CSS frameworks</div>
          <div class="description">
            Bootstrap, Semantic UI
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Test Frameworks</div>
          <div class="description">
            Rspec, Jest, Enzyme
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Version Control System & deployment</div>
          <div class="description">
            Git, Github, Heroku
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    Languages
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui three stackable cards resume">
      <div class="card">
        <div class="content">
          <div class="header">French: <span class="level">native</span></div>
          <div class="description">
            Experience as a journalist and french teacher.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">English: <span class="level">fluent</span></div>
          <div class="description">
            Experience as an english teacher, translator and interpreter FR/ENG.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Japanese: <span class="level">fluent</span></div>
          <div class="description">
            JLPT 2 (professional working proficiency), experience as a translator and interpreter FR/ENG/JAP.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Studies</span>
    <i class="small travel icon"></i>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    Programming
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        The Odin Project
      </div>
      <div class="active content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Online bootcamp focused on web development. Mainly Ruby on Rails and Javascript.</em></p>
                <ul class="">
                  <li>Videos, articles, tutorials, interactive lessons.</li>
                  <li>Small training projets.</li>
                </ul>
              </div>
              <div class="exta">
                <a href="https://www.theodinproject.com">https://www.theodinproject.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="active title">
        <i class="dropdown icon"></i>
        CodeSchool
      </div>
      <div class="active content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Online course covering most languages and techniques.</em></p>
                <ul class="">
                  <li>Video lessons with interactive exercises.</li>
                  <li>Done: HTML, CSS, Git, Javascript and jQuery, Ruby, Rails.</li>
                </ul>
              </div>
              <div class="exta">
                <a href="https://www.codeschool.com">https://www.codeschool.com/</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="active title">
        <i class="dropdown icon"></i>
        Wes Bos
      </div>
      <div class="active content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Online course covering mainly Javascript/ES6, React.js, Node.js.</em></p>
                <ul class="">
                  <li>Videos, articles, tutorials, interactive lessons.</li>
                </ul>
              </div>
              <div class="exta">
                <a href="https://courses.wesbos.com">https://courses.wesbos.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    Past studies
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        DAEFLE (professional qualification for teaching French as a foreign language) <div class="ui label">2016</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Alliance Française and CNED’s co-organised distance learning qualification.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        Japanese language proficiency degree + JLPT level 2 certificate <div class="ui label">2013 & 2016</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Alliance Française and CNED’s co-organised distance learning qualification.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        Postgraduate diploma of Journalism and Communication <div class="ui label">2009</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Passed at the EJC school (Journalism and Communication School) in Toulouse, France.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Training projects</span>
    <i class="small travel icon"></i>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui two stackable cards resume">
      <div class="card">
        <div class="content">
          <div class="header text-center" id="portfolio-link"><%= link_to "See my portfolio", portfolio_path %></div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header text-center" id="github-link"><a href="https://github.com/coconatsuki">See my Github page</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Programming experience</span>
    <i class="small travel icon"></i>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        2018 : Full Stack Web developer at NOVARTEM <div class="ui label">Montreal</div><div class="ui label">Remote</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Novartem is a startup which is developing an innovative SaaS product for the arts industry. 
                In this small team, my role is to design, program, test and put into production a web application, 
                along with my programmers coworkers.</em></p>
                <p><em>To do so, we mainly use the following technologies:</em></p>
                <p><em>- React, JavaScript (ES6), Jest/Wallaby, Node.js, GraphQL/Prisma, and Flow.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        2019 : Freelance Full Stack Web developer at MALT (<a href="https://www.malt.fr/profile/amandinepasin">see profile)</a> <div class="ui label">Remote</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Build new apps/websites or refresh the design of existing projects</em></p>
                <p><em>using mainly HTML/CSS/Javascript/React.js and Ruby on Rails or Node.js.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>




  

  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Past experience</span>
    <i class="small travel icon"></i>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        2012-2016 : French and english teacher for foreign students <div class="ui label">Tokyo</div><div class="ui label">Kyoto</div><div class="ui label">Montreal</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Teaching in private schools and as a private teacher.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        2014-2016 : French/English/Japanese translator and interpreter <div class="ui label">Paris</div><div class="ui label">Remotely</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Translator, interpreter during trade fairs, and subtitles maker for Netflix.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        2009-2012 : Journalist <div class="ui label">Paris</div><div class="ui label">Remotely</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Specialized in teanager magazines (Okapi, Astrapi, Science et vie junior...).</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal divider">
    <i class="small travel icon"></i>
    <span class="subtitles">Hobbies</span>
    <i class="small travel icon"></i>
  </div>

  <div class="ui bottom attached segment">
    <div class="ui six stackable cards hobbies-cards resume flex justify-center">
      <div class="card">
        <div class="content">
          <div class="header">Reading, writing</div>
          <div class="description">
            (<a href="http://www.unefourmiatokyo.com/">See my personal and journalistic blog</a>)
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Dance, music</div>
          <div class="description">
            I take salsa and lindy-hop dance classes. I also play guitar.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Drawing, photography</div>
          <div class="description">
            I do nude & landscape croquis, and take photography classes.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Studying foreign languages</div>
          <div class="description">
            Especially japanese, sometimes spanish.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Video games</div>
          <div class="description">
            Role playing/ adventure/ survival/ strategy games...
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Travelling, foreign cultures discovery</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>
</main>
