<main class="resume-page">
  <header class="resume-header">
    <h2 class="resume-title title">Junior Web Developper</h2>
  </header>
  <h3 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Skills
  </h3>

  <h5 class="ui top attached header resume-subtitle">
    IT skills
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui three stackable cards">
      <div class="card">
        <div class="content">
          <div class="header">OS</div>
          <div class="description">
            Windows, Linux
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Framworks</div>
          <div class="description">
            Ruby on Rails
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Version Control System</div>
          <div class="description">
            Git
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Languages</div>
          <div class="description">
            Ruby, Javascript, SQL
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Prog. Web</div>
          <div class="description">
            HTML5, CSS3, Sass, jQuery
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Web frameworks</div>
          <div class="description">
            Bootstrap, Semantic UI
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    Languages
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui three stackable cards">
      <div class="card">
        <div class="content">
          <div class="header">French: <span class="level">native</span></div>
          <div class="description">
            Experience as a journalist and french teacher.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">English: <span class="level">fluent</span></div>
          <div class="description">
            Experience as an english teacher, translator and interpreter FR/ENG.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">Japanese: <span class="level">fluent</span></div>
          <div class="description">
            JLPT 2 (professional working proficiency), experience as a translator and interpreter FR/ENG/JAP.
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Studies
  </h3>

  <h5 class="ui top attached header resume-subtitle">
    Programming
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="active title">
        <i class="dropdown icon"></i>
        The Odin Project <div class="ui label">In progress</div>
      </div>
      <div class="active content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Online bootcamp focused on web development. Mainly Ruby on Rails and Javascript.</em></p>
                <ul class="">
                  <li>Videos, articles, tutorials, interactive lessons.</li>
                  <li>Small training projets.</li>
                  <li>Now studying : Chapitre 4 (HTML5 et CSS3).</li>
                </ul>
              </div>
              <div class="exta">
                <a href="https://www.theodinproject.com">https://www.theodinproject.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="active title">
        <i class="dropdown icon"></i>
        CodeSchool <div class="ui label">In progress</div>
      </div>
      <div class="active content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Online course covering most languages and techniques.</em></p>
                <ul class="">
                  <li>Video lessons with interactive exercises.</li>
                  <li>Already done : HTML, CSS, Git, Javascript and jQuery, Ruby, Rails.</li>
                  <li>Now studying : Javascript.</li>
                </ul>
              </div>
              <div class="exta">
                <a href="https://www.codeschool.com">https://www.codeschool.com/</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="ui top attached header resume-subtitle">
    Past studies
  </h5>
  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        DAEFLE (professional qualification for teaching French as a foreign language) <div class="ui label">2016</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Alliance Française and CNED’s co-organised distance learning qualification.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        Japanese language proficiency degree + JLPT level 2 certificate <div class="ui label">2013 & 2016</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Alliance Française and CNED’s co-organised distance learning qualification.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="title">
        <i class="dropdown icon"></i>
        Postgraduate diploma of Journalism and Communication <div class="ui label">2009</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Passed at the EJC school (Journalism and Communication School) in Toulouse, France.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Training projects
  </h3>

  <div class="ui bottom attached segment">
    <div class="ui two stackable cards">
      <div class="card">
        <div class="content">
          <div class="header" id="portfolio-link"><%= link_to "See my portfolio", static_pages_portfolio_path %></div>
          </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header" id="github-link"><a href="https://github.com/coconatsuki">See my Github page</a></div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Programming related reading
  </h3>

  <div class="ui bottom attached segment">
    <div class="ui three stackable cards">

      <div class="card">
        <div class="content">
          <div class="header">"Learn to program"</div>
          <div class="description">
            From Chris Pine
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">"Eloquent Ruby"</div>
          <div class="description">
            From Russ Olsen
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="header">"Practical Object-Oriented Design in Ruby"<div class="ui label">currently reading</div></div>
          <div class="description">
            Sandi Metz
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ui horizontal divider header">
    <i class="tag icon"></i>
    Past experience
  </h3>

  <div class="ui bottom attached segment">
    <div class="ui fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        2012-2016 : French and english teacher for foreign students <div class="ui label">Tokyo</div><div class="ui label">Kyoto</div><div class="ui label">Montreal</div>
      </div>
      <div class="content">
        <div class="ui item">
          <div class="item">
            <div class="content">
              <div class="description">
                <p><em>Teaching in private schools and as a private teacher.</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="title">
      <i class="dropdown icon"></i>
        2014-2016 : French/English/Japanese translator and interpreter <div class="ui label">Paris</div><div class="ui label">Remotely</div>
    </div>
    <div class="content">
      <div class="ui item">
        <div class="item">
          <div class="content">
            <div class="description">
              <p><em>Translator, interpreter during trade fairs, and subtitles maker for Netflix.</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="title">
      <i class="dropdown icon"></i>
        2009-2012 : Journalist <div class="ui label">Paris</div><div class="ui label">Remotely</div>
    </div>
    <div class="content">
      <div class="ui item">
        <div class="item">
          <div class="content">
            <div class="description">
              <p><em>Specialized in teanager magazines (Okapi, Astrapi, Science et vie junior...).</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Hobbies
</h3>

      <div class="ui bottom attached segment">
        <div class="ui six stackable cards">
          <div class="card">
            <div class="content">
              <div class="header">Reading, writing</div>
              <div class="description">
                (<a href="http://www.unefourmiatokyo.com/">See my personal and journalistic blog</a>)
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Dance, music</div>
              <div class="description">
                I take salsa and lindy-hop dance classes. I also play guitar.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Drawing, photography</div>
              <div class="description">
                I do nude & landscape croquis, and take photography classes.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Studying foreign languages</div>
              <div class="description">
                Especially japanese, sometimes spanish.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Video games</div>
              <div class="description">
                Role playing/ adventure/ survival/ strategy games...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">Travelling, foreign cultures discovery</div>
            </div>
          </div>
        </div>
      </div>




</div>
</div>


</div>
</div>
</main>
