<h4>This is an email from 'www.amandine.pasin.fr' website :</h4>

<p>
  Message from : <%= @firstname %> <%= @lastname %>, mail address : <%= @email %>
</p>

<p>
  <strong>Message content :</strong>
</p>

<p>
  <%= @message %>
</p>
