// ----------------------------- general -------------------------------------\\
body {

}

.ui.container.main {
  margin: 55px 0;
  width: 80%;
  border-radius: 5px;
  background-color: #F2F1F1;
}

.big-icon {
  height: 30px;
  width: 30px;
  display: block;
  background-size: contain !important;
}

.title {
  color: #732034;
}

// ----------------------------- nav -------------------------------------\\

.hi.title {
  text-align: center;
}

.ui.tabular.menu.nav-links {
  padding: 0 30px;
  background-color: #732034;
  color: white;
  border-color: #fff8f0;
  height: 10px;
}

.ui.tabular.menu .item.nav, #logo {
  color: white;
  &:hover {
    background-color: #561827;
    color: #F2F1F1;
  }
}

.ui.tabular.menu .active.item.nav {
  color: black;
  &:hover {
    background-color: #F2F1F1;
    color: #6E1E1B;
  }
}

#logo {
  font-size: 23px;
  line-height: 39px;
  padding: 0 10px;
}

//-------------------------------  Footer --------------------------------------\\

.ui.vertical.footer.segment {
  background-color: #732034;
}

.ui.inverted.link.list .item.footer-link, #fourmi {
  color: #cdafb6;
  &:hover {
    color: white;
  }
}

.blog {
  color: white;
}

// ----------------------------- Home header -------------------------------------\\

.home-header.ui.three.column.grid {
  height: 450px;
  margin-top: 30px;
  padding: 50px;
}

.profile.column, .salutation.column, .short-presentation.column {
  width: 300px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  }

  .salutation .hi {
    font-size: 70px;
    font-family: 'Joti One', cursive, georgia, serif;
    width: 130px;
    margin: 0 auto;
  }

  .salutation.column {
    justify-content: space-around;
  }

  .ui.circular.segment.image, .header-name, .header-links {
    margin: 0 auto;
  }

.ui.circular.segment.image {
    border-color: #9e2b25;
}

.header-name {
  font-size: 23px;
  margin-top: 15px;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 8px;
  padding: 0;
  width: 200px;
}

.header-links li, .header-links a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#github {
  background: url(github-plus.png) no-repeat;
}

#linkedin {
  background: url(linkedin.png) no-repeat;
}

#wordpress {
  background: url(wordpress.png) no-repeat;
}

.presentation-text {
  margin-top: 50px;

}

.presentation-text, .introduction {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    p {
      line-height: 22px;
    }
}


//------------------------------- Home - news feed --------------------------\\

.ui.column.grid.one.news-column {
  margin-top: 40px;
}

#news-row {
  justify-content: space-around;
}

.item.news-items .content.news-content, .item.news-items .header {
  line-height: 24px !important;
}


.news {
  text-align: center;
}


//------------------------------- portfolio page -----------------------------\\

.ui.cards.grid {
  margin: 0 50px;
}

.portfolio-page {
  padding: 30px 0;
}

.portfolio.title {
  width: 200px;
  margin: 0 auto 30px auto;
  font-size: 40px;
}

// ------------------------------Resume page --------------------------------\\

.resume-page {
  padding: 20px 50px;
}

.column.resume-column {
  display: flex;
  justify-content: center;
}

.resume-title, .resume-subtitle {
  text-align: center;
}

.level {
  font-weight: 400;
  font-size: initial;
}

#portfolio-link, #github-link {
  text-align: center;
}


//------------------------------- About page ---------------------------------\\

.ui.segment.about-page {
  width: 800px;
}


// ----------------------------- Contact page --------------------------------\\

.contact-page {

  height: 1000px;
}
