$fushia: #732034;
$navy: #212732;

@mixin box-shadow() {
  -webkit-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75) !important;
  box-shadow: -1px 10px 5px -4px rgba(0, 0, 0, 0.75) !important;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin source-font {
  font-family: "Source Sans Pro", sans-serif !important;
}

@mixin nav-colors {
  color: white;
  background-color: $fushia;
}

@mixin important-nav-colors {
  color: white !important;
  background-color: $fushia !important;
}

@mixin nav-colors-hover {
  &:hover {
    background-color: #561827;
    color: #f2f1f1;
  }
}

// -------------------------Useful shortcuts -------------------------------\\

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.lato-font {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.crimson-font {
  font-family: "Crimson Text", georgia, serif !important;
}

// ----------------------------- general -------------------------------------\\

html {
  p {
    @include source-font;
  }
}

body {
  height: 100%;
  background-color: #b7bbb524 !important;
}

.ui.container.main {
  // padding: 20px 10px;
  width: 100%;
  @include border-radius(5px);
}

.page-container {
  padding: 3% 5%;
  margin-top: 2%;
}

.big-icon {
  height: 30px;
  width: 30px;
  display: block;
  background-size: contain !important;
}

.title {
  color: $fushia;
  font-family: "Crimson Text", georgia, serif;
}

.subtitles {
  font-size: 2em;
  font-family: "Crimson Text", georgia, serif !important;
}

p {
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  .page-container {
    margin-top: 25%;
  }
}

// ----------------------------- nav -------------------------------------\\

.nav {
  display: flex;
}

.ui.tabular.menu.nav-links {
  padding: 0 2%;
  // height: 12%;
  border-color: #fff8f0;
  @include nav-colors;
}

.nav .ui.tabular.menu .active.item.nav {
  background-color: white;
  color: $fushia;
}

#mobile-nav .ui.dropdown .ui.menu.colored-nav .item.nav {
  @include important-nav-colors;
}

#mobile-nav .ui.dropdown .ui.menu.colored-nav .item.nav.active {
  background-color: white !important;
  color: $fushia !important;
}

#menu-dropdown {
  padding: 1.3%;
  display: flex;
}

.menu-element {
  width: 10%;
}

.menu-component {
  text-align: center;
  width: 100%;
  border: 2px solid $fushia;
  border-radius: 25%;
  width: 70%;
  margin: 8% auto;
}

.nav .ui.tabular.menu,
#logo {
  background-color: $fushia !important;
  color: white;
}

.nav .ui.tabular.menu .item.nav {
  color: white;
  @include nav-colors-hover;
}

#logo {
  font-size: 1.6em;
  text-align: center;
}

.ui.mobile-nav.menu.colored-nav {
  display: none;
}

@media screen and (max-width: 500px) {
  #mobile-nav {
    display: flex;
  }
  .nav {
    display: none;
  }
  #logo {
    padding: 1.5%;
  }
}

//-------------------------------  Footer --------------------------------------\\

.footer-header {
  font-size: 1.4em !important;
}

.ui.vertical.footer.segment {
  background-color: $fushia;
}

.ui.inverted.link.list .item.footer-link,
#fourmi {
  color: #cdafb6;
  &:hover {
    color: white;
  }
}

.blog {
  color: white;
}

@media screen and (max-width: 500px) {
  .ui.footer.segment .ui.container .ui.stackable.grid .column.footer-column {
    padding: 4% !important;
  }
}

// ----------------------------- Home header -------------------------------------\\

.home-page-container {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
}

.first-home-row {
  display: flex;
  background-color: $navy;
  padding-bottom: 30px;
}

.text-column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
  padding: 15px 15px 0 15px;
}

.presentation,
.salutation {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  margin: 30px 0 0 0 !important;
  @include box-shadow;
}

.left-picture {
  background: url(homepage-background.jpg) no-repeat;
  background-size: cover;
  width: 50%;
}

.home-header.ui.three.column.grid {
  padding: 2%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 90%;
}

.profile-photo {
  width: 35%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ui.circular.segment.image {
  border: 2px solid#9e2b25;
  @include box-shadow;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 15px;
}

.photo-caption {
  background-color: white;
  border-radius: 5px;
  padding: 0 13%;
  @include box-shadow;
  border: 2px solid #732034;

  .header-name.title {
    font-size: 2.8em;
    margin: 10px 0 0 0;
  }
}

.header-links {
  margin: 0 0 10px 0;
  align-self: center;
  list-style: none;
  margin-top: 2%;
  padding: 0;
  width: 85%;
}

#github {
  background: url(github-plus.png) no-repeat;
}

#linkedin {
  background: url(linkedin.png) no-repeat;
}

#wordpress {
  background: url(wordpress.png) no-repeat;
}

.presentation-text.ui.segment.tall {
  padding: 5% 3%;
}

.presentation-text.ui.segment.tall p,
.introduction {
  line-height: 1.7em;
  font-size: 1.1rem;
}

.introduction.intro-title {
  font-weight: 600 !important;
  opacity: 0.5 !important;
  font-size: 1.2rem !important;
}

@media screen and (max-width: 1050px) {
  .salutation .hi {
    font-size: 3em;
  }
  .photo-caption .header-name.title {
    font-size: 2.3em;
  }
  .ui.tabular.menu.nav-links {
    height: inherit;
  }
}

//------------------------------- Home - news feed --------------------------\\

.ui.piled.segment.news-container {
  width: 75%;
  align-self: center;
  margin-bottom: 30px !important;
  border: 1px solid $navy !important;
}
.ui.piled.segment.news-container::before,
.ui.piled.segment.news-container::after {
  border: 1px solid $navy !important;
  background-color: $navy;
}

.ui.column.grid.one.news-column #news-row {
  justify-content: space-around;
  .news-container {
    @include box-shadow;
    width: 75%;
  }
}

.item.news-items .content.news-content,
.item.news-items .header {
  line-height: 1.8em !important;
}

.news-container .ui.celled.list .item.news-items {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

//------------------------------- portfolio page -----------------------------\\

.portfolio-page {
  background-color: $navy;
}

.portfolio.title {
  font-size: 3em;
  font-size: 3em;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  width: 35%;
  margin: 0px auto 30px auto;
  padding: 10px;
  border: 2px solid $fushia;
  @include box-shadow;
  letter-spacing: 0.03em;
}

.description.scrolling.content {
  .ui.header {
    text-align: center;
    font-size: 2.3em;
    text-decoration: underline;
  }
  p {
    margin-bottom: 0.5%;
    line-height: 1.8em;
  }
}

.ui.modals.page .ui.modal .header {
  justify-content: space-around;
  display: flex !important;
  padding: 1.3%;
  span {
    font-size: 0.8em;
    font-weight: 400;
  }
}

.ui.cards.grid.portfolio {
  margin: 0;
}

.portfolio-page .ui.cards.grid.portfolio .card {
  margin: 2%;
  max-width: 28%;
}

.portfolio.title h3 {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .portfolio-page .ui.cards.grid.portfolio .card {
    max-width: 35%;
    min-width: 40%;
    margin: 5%;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-page .ui.cards.grid.portfolio .card {
    margin: 5% 0 !important;
    max-width: 100%;
  }
  .short-presentation .presentation-text.ui.tall.stacked.segment,
  .ui.tall.stacked.segment.salutationcol {
    height: inherit;
  }
}

// ------------------------------Resume page --------------------------------\\

.resume-page {
  background-color: $navy;
}

.resume-header {
  border: 2px solid $fushia;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
  margin: 0 auto;
  @include box-shadow;
}

.column.resume-column {
  display: flex;
  justify-content: center;
}

.resume-title {
  margin-top: 0;
  padding: 10px;
  font-size: 40px;
  color: #6a1e2f;
}

.portfolio-subtitle {
  color: #ccc7c7;
  text-shadow: 0px 3px 6px black;
  font-size: 2.5em;
}

.ui.horizontal.divider {
  margin: 3%;
  margin-bottom: 10px;
}

.ui.top.attached.header.resume-subtitle {
  margin-top: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: $fushia;
  color: white;
  opacity: 0.9;
}

.level {
  font-weight: 400;
  font-size: initial;
}

.subtitles-div {
  margin: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.subtitles {
  margin: 0 20px;
  color: #ccc7c7;
  text-shadow: 0px 3px 6px black;
}

.small.travel.icon {
  color: #ccc7c7;
  font-size: 1em;
  text-shadow: 0px 3px 6px black;
}

.ui.stackable.cards.hobbies-cards,
.ui.cards.grid.portfolio {
  flex-wrap: wrap;
}

@media screen and (max-width: 1050px) {
  .ui.stackable.cards.hobbies-cards .card {
    min-width: 28%;
  }
}

@media screen and (max-width: 500px) {
  .small.travel.icon {
    display: none;
  }
  .subtitles {
    margin: 0;
    font-size: 1.3em;
  }
  .ui.stackable.cards.resume:first-child {
    padding-top: 5%;
  }
}

//------------------------------- About page ---------------------------------\\

.about-container {
  display: flex;
  justify-content: space-evenly;
}

.ui.segment.about-page {
  padding: 30px;
  width: 90%;
}

.content .header.subtitle {
  font-size: 2.3em;
  text-align: center;
}

.content .meta p {
  line-height: 1.6em;
  font-size: 1.05em;
}

#about-photo {
  margin: 0 3% 3% 0;
  border: 4px solid $fushia;
  border-radius: 2.5%;
}

.first-subtitle-container {
  margin-bottom: 2%;
  width: 56%;
  justify-content: space-around;
}

.second-subtitle {
  margin-top: 4%;
}

@media screen and (max-width: 500px) {
  .page-container.about-container {
    background-color: white;
    margin-top: 23%;
  }
  .ui.segment.about-page {
    padding: 5% 2% 2% 2%;
  }
}

@media screen and (max-width: 800px) {
  .page-container.about-container {
    padding: 0;
  }
  .ui.segment.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first-subtitle-container {
    width: 100%;
    margin: 3%;
  }
  #about-photo {
    margin: 0;
  }
}

// ----------------------------- Contact page --------------------------------\\

.ui.segment.contact-page {
  margin: 0 auto;
  width: 700px;
}

.contact-page .contact-header {
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 1%;
  }
}

.contact-form {
  margin-top: 2%;
  width: 60%;
}

.ui.form .contact-form .field label {
  font-size: 1.2em;
  padding: 2% 0;
}

.ui.form .contact-form .contact-submit {
  width: 60%;
  margin-top: 2%;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .ui.form .contact-form .contact-submit {
    width: 70%;
  }
}
