<div class="ui vertical footer segment bottom fixed">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="four wide column footer-column">
          <h4 class="ui inverted header .lato-font footer-header">Links & contact</h4>
          <div class="ui inverted link list">
            <a href="https://www.linkedin.com/in/amandine-latour-9750b512a/" class="item footer-link">Linkedin</a>
            <a href="https://github.com/coconatsuki" class="item footer-link">Github page</a>
            <%= link_to "Contact me", contact_path, class: "item footer-link" %>
          </div>
        </div>
        <div class="four wide column footer-column">
          <h4 class="ui inverted header .lato-font footer-header">Favorite learning resources</h4>
          <div class="ui inverted link list">
            <a href="https://www.theodinproject.com/" class="item footer-link">The Odin Project</a>
            <a href="https://www.codeschool.com" class="item footer-link">Codeschool</a>
            <a href="http://www.codewars.com" class="item footer-link">Codewars</a>
          </div>
        </div>
        <div class="seven wide column footer-column">
          <h4 class="ui inverted header .lato-font footer-header">Personal blog</h4>
          <p class="blog">If you are interested in Japan and can read french, have a look at my blog!</p>
          <a href="https://unefourmiatokyo.com" class="item footer-link" id="fourmi">Une fourmi à Tokyo</a>
        </div>
      </div>
    </div>
  </div>
