<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="ui container main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
